---
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
import CustomBorderSec from '@components/customBorderSec.astro'
import ContactSec from '@components/contactSec.astro'
import { getImage } from 'astro:assets'
import { format as formatDate } from 'date-fns'
import slugify from 'slugify'

// 1. Generate a new path for every collection entry
export async function getStaticPaths () {
	const posts = await getCollection('blog', ({ data }) => ( data.draft !== true ))
	const uniqueCats = [...new Set(posts.map((post) => post.data.category))]

	const results = []
	for (const cat of uniqueCats) {
		const filteredPosts = posts.filter(post => post.data.category === cat)
		const modifiedPosts = []
		for (const post of filteredPosts) {
			const optimizedPostImg = await getImage({
				src: post.data.img.src as ImageMetadata,
				width: post.data.img.src.width,
				height: post.data.img.src.height
			})

			modifiedPosts.push({
				...post,
				url: `/blog/${post.slug}`,
				date: formatDate(new Date(post.data.date), 'MMM dd, yyyy'),
				img: optimizedPostImg
			})
		}

		results.push({
			params: { slug: slugify(cat) },
			props: {
				cat,
				posts: modifiedPosts
			}
		})
	}

	return results
}

// 2. When it's time to render, you can get the entry directly from the prop
const { cat, posts } = Astro.props
---

<Layout title={`Category: ${cat}`} description={`All posts in the ${cat} category`}>
	<section class="hero">
		<div class="hero_inner container">
			<div class="hero_title_area">
				<div class="hero_titles">
					<h1 class="hero_title">{cat}</h1>
					<h2 class="">All posts in the {cat} category</h2>
				</div>
			</div>
		</div>
	</section>

	<main>
		<CustomBorderSec top="curve_blue">
			{posts.map((post, index) => (
				<div class="post_item">
					<div class="post_img_space">
						<a href={post.url} class="post_img" aria-label={`Read ${post.data.title}`} title={`Read ${post.data.title}`}><div class="post_img_bg" style={{ backgroundImage: `url(${post.img.src})`}}></div></a>
					</div>
					<div class="post_details">
						<h3 class="post_title"><a href={post.url} aria-label={`Read ${post.data.title}`} title={`Read ${post.data.title}`}>{ post.data.title } <span>/0{ index + 1 }</span></a></h3>
						<p class="post_date">{ post.date }</p>
						<p class="post_excerpt">{ post.data.excerpt }</p>
					</div>
				</div>
			))}
		</CustomBorderSec>

		<ContactSec num={1} />
	</main>
</Layout>

<style lang="postcss">
	@import '@styles/mediaQueries.pcss';

	section.hero {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		min-height: 300px;

		& .hero_inner {
			padding-top: var(--size-8);
			padding-bottom: var(--size-8);

			@media (--md) {
				padding-top: var(--size-16);
				padding-bottom: var(--size-16);
			}
		}

		& .hero_title_area {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			& .hero_home_titles {
				flex: 1 1 auto;
				order: 2;
			}
		}
	}
</style>
