---
import Layout from '@layouts/Layout.astro'
import CustomBorderSec from '@components/customBorderSec.astro'
import SecTitle from '@components/secTitle.astro'
import AboutBadges from '@components/aboutBadges.astro'
import ProfileImg from '/profile.jpg'
import BtnLink from '@components/btnLink.astro'
import Exp from '@components/exp.astro'
import Btn from '@components/btn.astro'
import TechList from '@components/techList.astro'
import ContactSec from '@components/contactSec.astro'
import techBGImg from '@imgs/borders/graph-dots-bg.svg'
import { badges, techList, expList } from '@data/home.js'
---

<Layout title="Michael Erb Portflio">
	<header class="hero_home">
		<div class="hero_home_inner container">
			<div class="hero_home_title_area">
				<div class="hero_home_titles">
					<h1 class="hero_title">I'm Michael Erb</h1>
					<h2 class="hero_title">A Fullstack Engineer</h2>
				</div>
				<div class="hero_home_profile">
					<img src={ProfileImg} alt="Michael Erb" width="150" height="150" />
				</div>
			</div>
			<p class="hero_txt">Ready to bring your idea to life, start to finish 🤙</p>
			<div class="btn_wrap __right">
				<Btn href="/contact">Let's Work Together</Btn>
			</div>
		</div>
	</header>

	<main>
		<CustomBorderSec top="curve_blue">
			<div class="about_sec">
				<SecTitle num="1">About</SecTitle>
				<p class="about_txt">As an experienced Fullstack Engineer with over 7 years of professional experience in the industry, I have a diverse set of skills and expertise that enable me to create a wide range of web-based solutions. As well as my experience with Linux-based systems and DevOps tools allows me to create anything from blazing fast brochure/content-based sites where SEO is extremely important, to full-blown web based applications with a wide range of functionality. Such as user authentication, data storage, and complex business logic, designed to meet your needs. <BtnLink href="/blog/about-me" icon="arrow-right">Read More</BtnLink></p>
				{badges.length ?
					<ul class="badges_list">
						{badges.map(item => (
							<li><AboutBadges txt={item.text} /></li>
						))}
					</ul>
				: ''}
				<div class="btn_wrap __center">
					<Btn href="/blog" class="__on_dark">See Blog</Btn>
				</div>
			</div>
		</CustomBorderSec>

		<section class="tech_sec" style={`background-image: url(${techBGImg});`}>
			<div class="container">
				<SecTitle num="2">Technology</SecTitle>
			</div>
			<div class="container_l">
				<TechList list={techList} />
			</div>
		</section>

		<CustomBorderSec top="lopside">
			<SecTitle num="3">Experience</SecTitle>
			{expList.length ?
				<ul class="exp_list">
					{expList.map(item => (
						<li><Exp company={item.company} title={item.title} fromYr={item.fromYr} endYr={item.endYr ? item.endYr : 'Present'} desc={item.desc} tech={item.tech} /></li>
					))}
				</ul>
			: ''}
		</CustomBorderSec>

		<ContactSec />
	</main>
</Layout>

<style lang="postcss">
	@import '../styles/mediaQueries.pcss';

	.hero_home {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		min-height: 500px;
		position: relative;
		z-index: 2;

		& .hero_home_inner {
			padding-top: var(--size-8);
			padding-bottom: var(--size-8);

			@media (--md) {
				& {
					padding-top: var(--size-16);
					padding-bottom: var(--size-16);
					position: relative;
					top: 50px;
				}
			}

			@media (--lg) {
				& {
					position: relative;
					top: 90px;
				}
			}
		}

		& .hero_txt {
			font-size: var(--scale-4);
			font-weight: 700;
			text-transform: uppercase;
			margin-top: 10vw;

			@media (--md) {
				& {
					font-size: var(--scale-6);
				}
			}

			@media (--md) {
				& {
					margin-top: var(--size-24);
				}
			}

			@media (--xl) {
				& {
					margin-top: var(--size-36);
				}
			}
		}

		& .hero_home_title_area {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			& .hero_home_titles {
				flex: 1 1 auto;
				order: 2;
			}

			& .hero_home_profile {
				flex: 0 0 auto;
				order: 1;

				margin-right: var(--size-4);

				& img {
					width: 150px;
					height: 150px;
					border-radius: 999px;
					border: 6px solid var(--color-orange);
					background-color: var(--color-grey-300);

					display: flex;
					text-align: center;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.about_sec {
		padding-top: var(--size-12);
		padding-bottom: var(--size-12);

		& .about_txt {
			max-width: 720px;
			margin: 0 auto;
			line-height: 2.2;
		}

		@media (--sm) {
			& {
				padding-top: var(--size-2);
				padding-bottom: var(--size-2);
			}
		}
	}

	.badges_list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 400px;
		margin: var(--size-6) auto 0 auto;

		& li {
			padding: var(--size-2);
		}

		@media (--md) {
			& {
				max-width: 880px;
			}
		}
	}

	.exp_list {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
		margin: var(--size-6) var(--size--6) 0 var(--size--6);

		& li {
			padding: var(--size-6);
			width: 100%;
			display: flex;
		}

		@media (--md) {
			& li {
				width: 50%;
			}
		}
	}

	.tech_sec {
		background-position: center;
		background-repeat: repeat;
		background-size: cover;
	}

	.contact_sec {

	}
</style>
