---
import Layout from '../layouts/Layout.astro'
import CustomBorderSec from '@components/customBorderSec.astro'
import SecTitle from '@components/secTitle.astro'
import AboutBadges from '@components/aboutBadges.astro'
import ProfileImg from '/profile.jpg'
import BtnLink from '@components/btnLink.astro'
import Exp from '@components/exp.astro'

const badges = [
	{
		text: 'Million+ NPM PKGs Installed'
	},
	{
		text: '7+ YRS EXP'
	},
	{
		text: '5+ Linux Distros Tried'
	}
]

const expList = [
	{
		company: 'Redirect Health',
		title: 'Senior Full Stack Engineer',
		fromYr: 2019,
		endYr: 0,
		desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum fusce ut placerat orci nulla. Sodales ut eu sem integer vitae justo eget. Vitae nunc sed velit dignissim.'
	},
	{
		company: 'Success Engine',
		title: 'Developer and business consultant',
		fromYr: 2018,
		endYr: 2019,
		desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum fusce ut placerat orci nulla. Sodales ut eu sem integer vitae justo eget. Vitae nunc sed velit dignissim.'
	},
	{
		company: 'Rocket Media',
		title: 'Web Developer',
		fromYr: 2018,
		endYr: 2018,
		desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum fusce ut placerat orci nulla. Sodales ut eu sem integer vitae justo eget. Vitae nunc sed velit dignissim.'
	},
	{
		company: 'I-ology',
		title: 'Front End Developer',
		fromYr: 2017,
		endYr: 2018,
		desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum fusce ut placerat orci nulla. Sodales ut eu sem integer vitae justo eget. Vitae nunc sed velit dignissim.'
	}
]
---

<Layout title="Welcome to Astro.">
	<header class="hero_home container">
		<div class="hero_home_inner">
			<div class="hero_home_title_area">
				<div class="hero_home_titles">
					<h1 class="hero_title">I'm Michael Erb</h1>
					<h2 class="hero_title">A Fullstack Engineer</h2>
				</div>
				<div class="hero_home_profile">
					<img src={ProfileImg} alt="Michael Erb">
				</div>
			</div>
			<p class="hero_txt">Ready to bring your idea to life, start to finish 🤙</p>
		</div>
	</header>

	<main>
		<CustomBorderSec top="curve_blue">
			<SecTitle num="1">About</SecTitle>
			<p class="about_txt">As an experienced Fullstack Engineer with over 7 years of professional experience in the industry, I have a diverse set of skills and expertise that enable me to create a wide range of web-based solutions. As well as my experience with Linux-based systems and DevOps tools allows me to create anything from blazing fast brochure/content-based sites where SEO is extremely important, to full-blown web based applications with a wide range of functionality. Such as user authentication, data storage, and complex business logic, designed to meet your needs. <BtnLink href="/about" icon="arrow-right">Read More</BtnLink></p>
			{badges.length ?
				<ul class="badges_list">
					{badges.map(item => (
						<li><AboutBadges txt={item.text} /></li>
					))}
				</ul>
			: ''}
		</CustomBorderSec>

		<section class="tech_sec container">
			<div class="sec_inner">
				<SecTitle num="2">Technology</SecTitle>
			</div>
		</section>

		<CustomBorderSec top="lopside">
			<SecTitle num="3">Experience</SecTitle>
			{expList.length ?
				<ul class="exp_list">
					{expList.map(item => (
						<li><Exp  company={item.company} title={item.title} fromYr={item.fromYr} endYr={item.endYr} desc={item.desc} /></li>
					))}
				</ul>
			: ''}
		</CustomBorderSec>

		<section class="contact_sec container">
			<div class="sec_inner">
				<SecTitle num="2" align="right" removeUnderline={true}>Let's get started together</SecTitle>
			</div>
		</section>
	</main>
</Layout>

<style lang="postcss">
	@import '../styles/mediaQueries.pcss';

	.hero_home {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		height: 60vh;
		min-height: 500px;
		max-height: 800px;

		& .hero_txt {
			font-size: var(--scale-4);
			text-transform: uppercase;
			margin-top: 10vw;

			@media (--md) {
				& {
					font-size: var(--scale-6);
				}
			}

			@media (--md) {
				& {
					margin-top: var(--size-24);
				}
			}

			@media (--xl) {
				& {
					margin-top: var(--size-36);
				}
			}
		}

		& .hero_home_title_area {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			& .hero_home_titles {
				flex: 1 1 auto;
				order: 2;
			}

			& .hero_home_profile {
				flex: 0 0 auto;
				order: 1;

				margin-right: var(--size-4);

				& img {
					width: 150px;
					border-radius: 999px;
					border: 6px solid var(--color-orange);
				}
			}
		}
	}

	.hero_home_inner {
		padding: var(--size-8) 0;
	}

	.badges_list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		max-width: 400px;
		margin: var(--size-6) auto 0 auto;

		& li {
			padding: var(--size-2);
		}

		@media (--md) {
			& {
				max-width: 880px;
			}
		}
	}

	.exp_list {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
		margin: var(--size-6) var(--size--6) 0 var(--size--6);

		& li {
			padding: var(--size-6);
			width: 100%;
			display: flex;
		}

		@media (--md) {
			& li {
				width: 50%;
			}
		}
	}

	.about_txt {
		max-width: 720px;
		margin: 0 auto;
		line-height: 2.2;
	}

	.tech_sec {

	}

	.contact_sec {

	}

	.about_txt {
		max-width: 720px;
		margin: 0 auto;
		line-height: 2.2;
	}
</style>
