---
import BorderTop from '@imgs/borders/curve border top.svg'
import BorderLopsideTop from '@imgs/borders/curve lopside top.svg'
import BorderTopBlue from '@imgs/borders/curve border top blue.svg'
import BorderBottom from '@imgs/borders/curve border bottom.svg'
import WaveBorder from '@imgs/borders/wave-border.svg'
import WaveBorderBlue from '@imgs/borders/wave-border-blue.svg'

export interface Props {
	id?: string;
	top?: string;
	bottom?: string;
	tag?: string;
}

const { id, top, bottom, tag } = Astro.props;

const Element = tag === 'footer' ? 'footer' : 'section'
---

<Element id={id || ''} class:list={['special_sec', {'__is_wavy': top === 'wavy'}]}>
	<div class="special_sec_top">
		{top === 'curve_blue' ?
			<img class="special_border" src={BorderTop} alt="">
			<img class="special_border __under" src={BorderTopBlue} alt="">
		: ''}

		{top === 'lopside' ?
			<img class="special_border" src={BorderLopsideTop} alt="">
		: ''}

		{top === 'wavy' ?
			<img class="special_border __wavy" src={WaveBorder} alt="">
			<img class="special_border __under __wavy" src={WaveBorderBlue} alt="">
		: ''}
	</div>

	<div class="special_sec_inner">
		<div class:list={[{'container': tag !== 'footer'}, {'container_l': tag === 'footer'}]}>
			<slot />
		</div>
	</div>

	{bottom === 'none' ?
		''
	: <img class="special_border __bottom" src={BorderBottom} alt="">}
</Element>

<script>
</script>

<style lang="postcss">
	.special_sec {
		color: var(--color-white);
		position: relative;

		& .special_sec_inner {
			background-color: var(--color-black);
			position: relative;
			z-index: 3;
		}

		&.__is_wavy {
			padding-top: 96px;
		}
	}

	.special_sec_top {
		position: relative;
	}

	.special_border {
		display: block;
		width: 100%;
		position: relative;
		top: 2px;
		left: 0;
		z-index: 2;
		user-select: none;
		user-drag: none;
		-webkit-user-drag: none;

		&.__bottom {
			top: -2px;
		}

		&.__wavy {
			width: calc(100% + 3px);
			left: -2px;
		}

		&.__under {
			position: absolute;
			top: -8px;
			left: 0;
			z-index: 1;

			&.__wavy {
				top: -10px;

				@media (min-width: 380px) {
					top: -20px;
				}

				@media (min-width: 480px) {
					top: -30px;
				}

				@media (min-width: 640px) {
					top: -40px;
				}

				@media (min-width: 768px) {
					top: -50px;
				}

				@media (min-width: 1024px) {
					top: -65px;
				}

				@media (min-width: 1280px) {
					top: -72px;
				}

				@media (min-width: 1400px) {
					top: -80px;
				}
			}
		}
	}
</style>
