---
export interface Props {
	company: string
	title: string
	fromYr: number
	endYr: number | string
	desc: string,
	tech: Array<string>
}

const { company, title, fromYr, endYr, desc, tech = [] } = Astro.props
---

<div class="exp_area">
	<div class="exp_area_top">
		<div class="exp_area_title">
			<h4>{title}</h4>
			<ul>
				<li>{company}</li>
				<li>{fromYr} - {endYr}</li>
			</ul>
			<hr>
		</div>
		<div class="exp_area_desc">
			<p>{desc}</p>
		</div>
	</div>
	<ul class="exp_area_tech">
		{tech.map((item, index) =>
			<li>{item}{tech.length === (index + 1) ? '' : ','}</li>
		)}
	</ul>
</div>

<script>
</script>

<style lang="postcss">
	@import '../styles/mediaQueries.pcss';

	.exp_area {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-direction: column;

		& .exp_area_top {
			flex: 0 0 auto;
			margin-bottom: var(--size-6);
		}

		& .exp_area_title {
			margin-bottom: var(--size-4);

			& h4 {
				text-transform: uppercase;
				font-size: var(--scale-5);
				font-weight: 700;
				margin-bottom: var(--size-1);
			}

			& ul {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-family: Ubuntu, sans-serif;

				& li {
					flex: 0 0 auto;
					margin-right: var(--size-4);
				}
			}

			& hr {
				background-color: var(--color-white);
				height: 3px;
				border: none;
				border-radius: 99px;
			}
		}

		& .exp_area_desc {
			flex: 0 0 auto;
			line-height: 1.8;
			font-weight: 700;
		}

		& .exp_area_tech {
			display: flex;
			flex: 0 0 auto;
			justify-self: flex-end;
			flex-wrap: wrap;
			gap: var(--size-2);

			font-family: Ubuntu, sans-serif;

			& li {
				font-style: italic;
			}
		}
	}
</style>
