---
import Logo from '@components/logo.astro'

export interface Props {
	menuList: Array<any>
	socialList: Array<any>
}

const { menuList, socialList } = Astro.props
---

<nav>
	<div class="site_bar container_l">
		<a href="/" class="logo_space">
			<Logo name="main" color0="currentColor" width="100" height="18" />
		</a>

		<div class="menu_btn_space">
			<button class="menu_btn">
				<div class="line __alt __start"></div>
				<div class="line"></div>
				<div class="line __alt __end"></div>
			</button>
		</div>
	</div>

	<div class="nav_menu">
		<div class="nav_menu_inner container_l">
			{menuList.length ?
				<ul class="nav_list">
					{menuList.map(item => (
						<li><a href={item.path}>{item.label}</a></li>
					))}
				</ul>
			: ''}

			{socialList.length ?
				<ul class="nav_list social_list">
					{socialList.map(item => (
						<li><a href={item.path} target="_blank"><img src={item.img} alt={item.label}/></a></li>
					))}
				</ul>
			: '' }
		</div>
	</div>
</nav>

<script>
	const menuBtn = document.querySelector('.menu_btn')
	const navMenu = document.querySelector('.nav_menu')
	const logo = document.querySelector('.logo_space')
	const body = document.querySelector('body')

	function toggleMenu () {
		menuBtn.classList.toggle('__open')
		navMenu.classList.toggle('__open')
		logo.classList.toggle('__active')
		body.classList.toggle('no_scroll')
	}

	if (menuBtn) {
		menuBtn.addEventListener('click', () => {
			toggleMenu()
		})
	}
</script>

<style lang="postcss">
	.site_bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: var(--size-3);
		padding-bottom: var(--size-3);
		background-color: transparent;
		position: relative;
		z-index: 10;

		& .logo_space {
			color: var(--color-black);
			transition: color .3s;

			&.__active {
				color: var(--color-white);
			}
		}
	}

	.nav_menu {
		background-color: var(--color-black);
		padding-top: 60px;
		opacity: 0;
		transition: opacity .3s ease-in-out;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateY(-105%);
		width: 100%;
		height: 100vh;
		z-index: 2;

		display: flex;
		justify-content: center;
		align-items: flex-start;

		& .nav_menu_inner {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			flex: 1 1 auto;

			margin-top: var(--size-12);
		}

		& .nav_list {
			flex: 1 1 auto;

			& li {
				display: block;
				margin-bottom: var(--size-6);

				animation-name: fadInDownShort;
				animation-fill-mode: both;
				animation-duration: .3s;
			}

			& a {
				font-size: var(--scale-6);
				color: var(--color-white);
				text-decoration: none;
				position: relative;
				z-index: 1;

				&::after {
					content: '';
					position: absolute;
					bottom: -10px;
					left: 10%;
					width: 110%;
					height: 6px;
					border-radius: 99px;
					background-color: var(--color-blue);
					user-select: none;
					opacity: 0;
					transition: opacity .3s;
				}

				&:hover {
					text-decoration: none;

					&::after {
						opacity: 1;
					}
				}

				@media (min-width: 640px) {
					font-size: var(--scale-7);
				}

				@media (min-width: 768px) {
					font-size: var(--scale-9);
				}
			}
		}

		& .social_list {
			flex: 0 0 auto;

			& a {
				&::after {
					content: none;
				}
			}
		}

		&.__open {
			transform: translateY(0);
			opacity: 1;
		}
	}

	.menu_btn {
		width: 36px;
		height: 36px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		cursor: pointer;
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0;
		transition: transform 330ms ease-out;

		& .line {
			background-color: var(--color-black);
			border-radius: 99px;
			width: 100%;
			height: 6px;
			transition: background-color .3s;

			&.__alt {
				width: 50%;
			}

			&.__start {
				transition: transform .34s cubic-bezier(0.54, -0.81, 0.57, 0.57), background-color .3s;
				transform-origin: right;
			}

			&.__end {
				align-self: flex-end;
				transition: transform .34s cubic-bezier(0.54, -0.81, 0.57, 0.57), background-color .3s;
				transform-origin: left;
			}
		}

		&.__open {
			transform: rotate(-45deg);

			& .line {
				background-color: var(--color-white);

				&.__start {
					transform: rotate(-90deg) translateX(3px);
				}

				&.__end {
					transform: rotate(-90deg) translateX(-3px);
				}
			}
		}
	}
</style>
