---
import '@styles/main.pcss'
import Navigation from '@components/navigation.astro'
import CustomBorderSec from '@components/customBorderSec.astro'
import Logo from '@components/logo.astro'
import { menuList, menuList2, socialList } from '@data/nav.js'

export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="outer">
			<Navigation menuList={menuList} socialList={socialList} />

			<slot />

			{/* Footer */}
			<CustomBorderSec top="wavy" bottom="none" tag="footer">
				<div class="footer_inner">
					<div class="footer_nav_left">
						<div class="footer_nav_logo">
							<a href="/" class="logo_space">
								<Logo name="main" color0="currentColor" width="100" height="18" />
							</a>
						</div>

						{menuList.length ?
							<ul class="nav_list">
								{menuList.map(item => (
									item.label !== 'Contact' ? <li><a href={item.path}>{item.label}</a></li> : ''
								))}
							</ul>
						: ''}

						{menuList2.length ?
							<ul class="nav_list">
								{menuList2.map(item => (
									<li><a href={item.path} target="_blank">{item.label}</a></li>
								))}
							</ul>
						: '' }
					</div>
					<div class="foot_nav_right">
						{socialList.length ?
							<ul class="nav_list social_list">
								{socialList.map(item => (
									<li><a href={item.path} target="_blank"><img src={item.img} alt={item.label}/></a></li>
								))}
							</ul>
						: '' }
					</div>
				</div>
				<div class="footer_copy">
					<p>Copyright © 2023 merb.dev Michael Erb All rights reserved</p>
				</div>
			</CustomBorderSec>
		</div>
	</body>
</html>
