---
import '@styles/main.pcss'
import Navigation from '@components/navigation.astro'
import Footer from '@components/footer.astro'
import { menuList, menuList2, socialList } from '@data/nav.js'
import '@fontsource/ubuntu/400.css'
import '@fontsource/ubuntu/700.css'
import '@fontsource/ubuntu-mono/400.css'
import '@fontsource/ubuntu-mono/700.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/700.css'

export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<div class="outer">
			<Navigation menuList={menuList} socialList={socialList} />

			<slot />

			<Footer menuList={menuList} menuList2={menuList2} socialList={socialList} />
		</div>
	</body>
</html>
