---
import '@styles/main.pcss'
import Navigation from '@components/navigation.astro'
import Footer from '@components/footer.astro'
import { menuList, menuList2, socialList } from '@data/nav.js'

export interface Props {
	title: string
}

const { title, date, description, postImg, imgByName, imgByUrl, imgSrc } = Astro.props.frontmatter
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
	</head>
	<body>
		<div class="outer">
			<Navigation menuList={menuList} socialList={socialList} />
			<div class="post_bg" style={`background-image: url(${postImg})`}>
				<div class="post_bg_cite">
					<span>Photo by <a href={imgByUrl} target="_blank">{imgByName}</a> on <a href={imgSrc} target="_blank">Unsplash</a></span>
				</div>
			</div>

			<div class="post_pos container_l">
				<main>
					<div class="post_col">
						<header>
							<ul class="breadcrums">
								<li><a href="/blog">blog</a></li>
								<li>{title}</li>
							</ul>
							<h1 class="hero_title">{title}</h1>
							<p class="post_date">{date}</p>
						</header>

						<article>
							<slot />
						</article>

						<div class="author_space">
							<h6 class="h2 hero_title">Author</h6>
						</div>
					</div>
				</main>
				{/* <aside></aside> */}
			</div>

			<Footer menuList={menuList} menuList2={menuList2} socialList={socialList} />
		</div>
	</body>
</html>

<style>
	@import '../styles/mediaQueries.pcss';

	.post_bg {
		width: 100%;
		min-height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-color: var(--color-grey-800);

		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: var(--size-4);

		& .post_bg_cite {
			background-color: var(--color-grey-300);
			border: 2px solid var(--color-grey-500);
			border-radius: 8px;
			padding: var(--size-2) var(--size-3);
			font-size: var(--scale-00);
			max-width: 400px;
			opacity: .7;
			transition: opacity .3s;

			&:hover {
				opacity: 1;
			}
		}
	}

	.post_pos {
		& main {
			flex: 0 0 auto;
			width: 100%;
			max-width: var(--width-md);
			/* margin-top: -300px; */
			position: relative;
			z-index: 1;
	
			& .post_col {
				background-color: var(--color-white);
				padding-top: var(--size-6);
				padding-bottom: var(--size-6);
			}
		}

		& header {
			margin-bottom: var(--size-10);

			& .breadcrums {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				& li {
					margin-right: var(--size-2);
					color: var(--color-grey);

					&:last-child {
						max-width: 230px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					&::after {
						content: '/';
						margin-left: var(--size-2);
					}
				}
			}

			& .post_date {
				color: var(--color-grey);
			}
		}

		& article {
			font-family: Merriweather, sans-serif;
		}

		& aside {
			flex: 0 0 auto;
		}
	}

	@media (--xl) {
		.post_bg {
			min-height: 500px;
		}

		.post_pos {
			& main {
				margin-top: -300px;

				& .post_col{
					border-radius: 16px;
					padding-left: var(--size-8);
					padding-right: var(--size-12);
				}
			}
		}
	}
</style>

<style is:global>
	.astro-code {
		display: block;
		padding: var(--size-6) var(--size-4);
		margin: var(--size-6) 0;
		border-radius: var(--radius-xl);
		font-family: 'Ubuntu Mone', mono;
	}

	article {
		& p {
			margin-bottom: var(--size-6);
			line-height: 2;
		}

		& code {
			padding: var(--size-2);
			border-radius: 4px;
			background-color: var(--color-grey-300);
		}

		& .astro-code code {
			background-color: transparent;
			padding: 0;
			border-radius: 0;
		}
	}
</style>
